# Core modules (mandatory)
jupyterlite-core
jupyterlab
jupyterlite-pyodide-kernel

# JupyterLab: dark theme
jupyterlab-night

# Python: ipywidget library for Jupyter notebooks (optional)
ipywidgets>=8.0.0
